:root {
  --main-bg-color: #8195b7;
  --gradient-dark-section: #6f83a6;
  --code-bg-color: #64779a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Helvetica Neue, sans-serif;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  position: relative;
}

.header:after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: -1px;
    width: 1px;
    background: -moz-linear-gradient(top, var(--main-bg-color) 0%, var(--gradient-dark-section) 20%, var(--gradient-dark-section) 80%, var(--main-bg-color) 100%);
    background: -webkit-linear-gradient(top, var(--main-bg-color) 0%, var(--gradient-dark-section) 20%, var(--gradient-dark-section) 80%, var(--main-bg-color) 100%);
    background: linear-gradient(to bottom, var(--main-bg-color) 0%, var(--gradient-dark-section) 20%, var(--gradient-dark-section) 80%, var(--main-bg-color), 100%);
    background: linear-gradient(to bottom, var(--main-bg-color) 0%,  var(--gradient-dark-section) 10%, var(--gradient-dark-section) 70%,var(--main-bg-color) 100%);
}


.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-2;
}

.markdown h1 {
  @apply text-2xl my-4 leading-snug;
}

.markdown h2 {
  @apply text-xl my-4 leading-snug;
}

.markdown h3 {
  @apply text-lg my-4 leading-snug;
}

.markdown img {
  @apply w-full mx-auto;
}

.markdown ul {
  list-style-type: initial;
  @apply pl-8;
} 

.markdown ol {
  list-style-type: decimal;
  @apply pl-6;
}

.markdown code {
  font-family: 'Fira Code', ;
  border-radius: 2px;
  padding: 1px 3px;
  color: #bacdd6;
  background-color: var(--code-bg-color);
}


@screen md {
  .markdown img {
    @apply w-4/5;
  }
}