html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Helvetica Neue, sans-serif;
  background-color: #4a5568;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  position: relative;
}

.header:after {
    content: "";
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: -1px;
    width: 1px;
    background: -moz-linear-gradient(top, rgba(227,224,216,0) 0%, #394452 20%, #394452 80%, rgba(227,224,216,0) 100%);
    background: -webkit-linear-gradient(top, rgba(227,224,216,0) 0%, #394452 20%, #394452 80%, rgba(227,224,216,0) 100%);
    background: linear-gradient(to bottom, rgba(227,224,216,0) 0%, #394452 20%, #394452 80%, rgba(227,224,216,0), 100%);
    background: linear-gradient(to bottom, #4a5667 0%,  #394452 10%, #394452 70%,#4a5667 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-2;
}

.markdown h1 {
  @apply text-2xl my-4 leading-snug;
}

.markdown h2 {
  @apply text-xl my-4 leading-snug;
}

.markdown h3 {
  @apply text-lg my-4 leading-snug;
}

.markdown img {
  width: 80%;
  margin: 0 auto;
}

.markdown ul {
  list-style-type: initial;
  @apply pl-8;
} 

.markdown ol {
  list-style-type: decimal;
  @apply pl-6;
}

.markdown code {
  font-family: 'Fira Code';
  border-radius: 2px;
  padding: 1px 3px;
  color: #bacdd6;
  background-color: #a1acbb47;
}
